<div class="column centered">
	<div>
		<%= image_tag 'logo.jpg' %>
	</div>
	<div id="information" class="space_above" style="text-align: left;">
		<p style="width: 100%">
			&ldquo;Right now, a child is dying of hunger in Somalia every six minutes. And unless we do something about it, children are going to carry on dying. It’s simple. Children are hungry. We’re not. They have no food. We do. So it's time to share what we have.&rdquo; — UNICEF
		</p>
		
		<h3>
			What Is This?
		</h3>
			
		<p style="width: 100%">
		4 Words is just one (and counting) of 43 web based fundraising projects in 7 countries being created and built by individuals and collectives of people in their spare time – evenings and weekends over the last month as part of the 50/50 collaborative fundraising experiment.
		</p>

		<p style="width: 100%">
			50/50 was first hatched by Good for Nothing and Made by Many about 6 weeks ago with the aim of launching 50 web based fundraising projects in 50 days, ready by World Food Day to try and raise £1M for UNICEF's famine aid in East Africa where a child is dying every 6 minutes from starvation and more than 12 Million people are at risk.
		</p>

		<h3>
			Where’s the money going?
		</h3>

		<p style="width: 100%">
			50/50 have partnered with UNICEF as the official Aid Collection partner. 100% of the money you donate to 4 Words or any of the 50/50 projects goes direct to UNICEF.
		</p>

		<p style="width: 100%">
			Just £5 could provide a child with life-saving food for a week so the potential impact of this collaborative experiment is immense. We hope that the word spreads fast, that the message is shared and that as much money as possible is raised in order for UNICEF to help as many children as possible.
		</p>

		<p style="width: 100%">
			If you have any feedback please drop an email to helpforachange@gmail.com
		</p>
	</div>
	<div id="donate_big">
		<%= link_to 'Donate',  "https://fundraise.unicef.org.uk/Donate/ToEvent/e0d4ef9d-985d-4ea8-9d25-9f480084f22d?project_id=8&return_url=#{root_url}" %>
	</div>
	<div>
		<%= image_tag 'about/map.png' %>
	</div>
</div>

<div class="column">
	<h2>Meet the team</h2>
	<% @personas.each do |persona| %>
		<div class="persona">
			<h3><%= persona[:name] %> ● <%= link_to "@#{persona[:twitter]}", "http://twitter.com/#{persona[:twitter]}", :target => :blank %></h3>
			<h4><%= persona[:role] %></h4>
			<%= image_tag "about/#{persona[:img]}.png" %>
			<p>
				<%= raw persona[:desc] %>
			</p>
		</div>
	<% end %>
</div>

<div class="centered" id="thanks">
	Also thanks for the inputs of: Mariana Moura Santos, Nikolai Lyden and Stefano Belloro.
</div>