<% if current_user %>
	<div id="user_id" style="display: none;"><%= current_user.id %></div>
<% end %>

<div id="left">
	<div id="logo">
		<%= image_tag "logo.png", :title => "logo", :class => "logo" %>
	</div>
</div>

<div id="right">
	<h2>
		13 million people in 
		the Horn of Africa are facing a hunger crisis.
	</h2>

	<h3>
		<p>
			The World Food Programme can provide life-saving 
			nutrition to one person for just 50¢ per day.
		</p>
		<p>
			Your donation now will save lives, submit your video 
			10 secs where you can express your wish to help Africa.
		</p>
	</h3>
	
	<div id="donate">
		<%= link_to '#' do %>
			<%= image_tag 'donate-button.png' %>
		<% end %>
	</div>
	
	<%= image_tag 'mini-africa.png', :id => 'mini-africa' %>
</div>

<div id="loader">
	<div id="loading">
		Loading...
	</div>
</div>

<script src="http://cdn.jquerytools.org/1.2.5/tiny/jquery.tools.min.js"></script>
<script type="text/javascript">
	function canTake() {
		<% if current_user && current_user.square.nil? %>
			return true;
		<% else %>
			return false;
		<% end %>
	}
	function squareText(user_id, user_name) {
		<% if current_user && !current_user.square %>
			if (user_id) {
				return user_name;
			}
			else {
				return 'Take square!';
			}
		<% else %>
			if (user_id == '<%= current_user.id if current_user %>')
				return user_name + ' (you!)';
			else if (user_id) {
				return user_name;
			}
			else {
				return 'Not taken.';
			}
		<% end %>
	}
</script>

<div id="overlay">
	<div class="cont">
		<h2>Take over your square!</h2>
		<p>To get hold of this square you need a video of yourself where the only constraint is you have to say the four words: "Help for a change". The rest is up to you!</p>
		<p>When you have the video you just need to complete 4 steps:</p>
		<ul>
			<li>
				Go to <%= link_to 'Dailymotion', 'http://www.dailymotion.com', :target => :blank %> and login with Facebook<br/>
				<%= image_tag 'signin_dailymotion.png' %>
			</li>
			<li>
				Upload the video or record it from your webcam (remember the 4 words)
			</li>
			<li>
				Go to your Dailymotion profile and copy your username in the following field
				<%= image_tag 'username_dailymotion.png' %>
			</li>
		</ul>
		<%= form_tag '/takeover' do %>
			<p><%= text_field_tag 'url' %></p>
			<p><%= submit_tag 'Take' %></p>
		<% end %>
		<p style="color:#666">
			To close, click the Close button or hit the ESC key.
		</p>
		<p>
			<button class="close">Close</button>
		</p>
	</div>
</div>

(show loader)
async javascript:
- build map, square by square
  + add link to video for those ones that are taken
  + add facebook login to others
- add index to squares table (?)

Dailymotion API to get the videos:
https://api.dailymotion.com/user/USER_ID/videos
https://api.dailymotion.com/video/VIDEO_ID?fields=embed_html