<!DOCTYPE html>
<html>
<head>
  <title>4 Words - Help For A Change</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Istok+Web">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<nav>
		<div id="about"><%= link_to 'about', '/about' %></div>
		<div id="session">
			<% if current_user %>
				<%= image_tag current_user.image_url %> <%= current_user.name %>
				<%= link_to 'Sign Out', signout_path %>
			<% else %>
				<%= link_to 'Sign in with Facebook', '/auth/facebook' %>
			<% end %>
		</div>
	</nav>
	<%= yield %>
</div>

</body>
</html>
