<!DOCTYPE html>
<html>
<head>
  <title>4 Words - Help For A Change</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Oswald|Poly">
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application", 'raphael' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if @disclaimer %>
		<div id="disclaimer">
			This browser is not supported, thus the site could have performance problems or do not work at all. Please switch to Chrome or Safari.
		</div>
	<% end %>
	<div id="container">
		<nav>
			<ul>
				<li id="home">
					<%= link_to 'home', '/' %>
				</li>
				<li id="about">
					<%= link_to 'about', '/about' %>
				</li>
					<% if current_user %>
						<li id="session">
							<%= link_to 'Sign Out', signout_path %>
						</li>
						<li id="user">
							<%= image_tag current_user.image_url %>
							<%= current_user.name %>
						</li>
					<% else %>
						<li id="session">
							<%= link_to 'Sign in', '/auth/facebook', :id => 'signin' %>
						</li>
					<% end %>
				<li id="donate">
					<%= link_to 'Donate',  "https://fundraise.unicef.org.uk/Donate/ToEvent/e0d4ef9d-985d-4ea8-9d25-9f480084f22d?project_id=8&return_url=#{root_url}" %>
				</li>
				<li id="social">
					<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
						<a class="addthis_button_preferred_1"></a>
						<a class="addthis_button_preferred_2"></a>
						<a class="addthis_button_preferred_3"></a>
						<a class="addthis_button_compact"></a>
						<a class="addthis_counter addthis_bubble_style"></a>
					</div>
					<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e9387bd04058ecc"></script>
					<!-- AddThis Button END -->
				</li>
			</ul>
		</nav>
		<div id="hyu">
			<%= yield %>
		</div>
	</div>

</body>
</html>
