<!DOCTYPE html>
<html>
<head>
  <title>4 Words - Help For A Change</title>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Istok+Web">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'raphael' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<nav>
		<ul>
			<li id="about">
				<%= link_to 'about', '/about' %>
			</li>
				<% if current_user %>
					<li id="session">
						<%= link_to 'Sign Out', signout_path %>
					</li>
					<li id="user_image">
						<%= image_tag current_user.image_url %>
					</li>
					<li id="user_name">
						<%= current_user.name %>
					</li>
				<% else %>
					<li id="session">
						<%= link_to 'Sign in', '/auth/facebook', :id => 'signin' %>
					</li>
				<% end %>
			</li>
		</ul>
	</nav>
	<%= yield %>
</div>

</body>
</html>
